[user]
	name = Keven - Yannic Iwansky
	email = keven.iwansky@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC8C1L7rhy+secY6Pc10o8CuZyy0+bQtkBIccfmEOdOs
[init]
	defaultBranch = main
[core]
	editor = code --wait
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
